.about {
  text-align: center;
}

.about > h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about > p {
  max-width: 70ch;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.about li {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}
